{{ define "debug/debug" }}

{{- with extend $ "Package" "debug" -}}
	{{ template "header" . }}
{{ end }}

{{ range $n := $.Nodes }}
    // {{ $n.Name }} is the model entity for the {{ $n.Name }} schema.
    type {{ $n.Name }} struct {
        {{- range $f := $n.Fields }}
            {{- $tag := $f.StructTag }}{{ with $tags := $.Annotations.Fields.StructTag }}{{ with index $tags $f.Name }}{{ $tag = . }}{{ end }}{{ end }}
            {{- template "model/fieldcomment" $f }}
            {{ $f.StructField }} {{ if $f.NillableValue }}*{{ end }}{{ $f.Type }} {{ if not $f.Sensitive }}`{{ $tag }}`{{ else }}{{ template "model/omittags" $ }}{{ end }}
        {{- end }}
    }
{{ end }}

{{ end }}